body {
  background-image: url("../Images/back.png");
  background-repeat: no-repeat;
  background-position-x: 513px;
  background-position-y: 0px;
  height: 736px;
  width: 414px;
  display: flex;
  flex-direction: column;
  text-align: centre;
  padding-top: 80px;
  margin: 0 auto;
  border-color: black;
  border-width: 1px;
}
h1 {
  border-color: black;
  border-width: 1px;
}
