#inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#inline li {
  float: left;
}

.daily-container {
  background-color: rgba(43, 8, 43, 0.651);
  border-radius: 10px;
}
#first {
  border: 0px;
}
.daily-tag {
  border-left: 1px solid black;
}
