.title {
	color: white;
	font-size: 17px;
	text-align: center;
	border: 2px solid rgba(14, 28, 73, 0.5);
	position: fixed;
	box-align: center;
	margin: 0 auto;
	top: 0;
	width: 410px;
	height: 70px;
	background-color: rgba(14, 28, 73, 0.8);
}

.u {
	border-bottom: 1px solid white;

	display: block;
}

.buttonn {
	color: white;

	font-size: 11px;
	font-size: 11px;
	border: none !important;

	width: 100%;
	padding: 0px;
	background-color: rgba(14, 28, 73, 0.5);
	border-radius: 15px;
	height: 100%;
}
.res {
	margin-top: 15px;
	margin-left: 10px;
	text-align: left;
	display: none;
}

.re {
	margin-top: 15px;

	margin-left: 10px;
	text-align: left;
}
#result {
	height: 350px;
	text-align: center;
	display: none;
}
.team {
	margin-top: 20px;
	text-align: center;
	display: none;
}

#table {
	height: 350px;
	text-align: center;
	display: none;
}
#fixture {
	height: 350px;
	text-align: center;
	display: none;
}
