.title {
  color: white;
  font-size: 17px;
  text-align: center;
  border: 2px solid black;
  position: fixed;
  box-align: center;
  margin: 0 auto;
  top: 0;
  width: 414px;
  height: 70px;
  background-color: rgb(43, 8, 43);
}

.buttonn {
  color: white;
  font-size: 11px;
  font-size: 11px;
  text-align: center;
  border: none !important;

  width: 100%;
  padding: 0px;
  background-color: rgba(43, 8, 43, 0.651);
  border-radius: 15px;
  height: 100%;
}

#fixture {
  width: 100%;
  padding: 53.5%;
  display: none;
}

#result {
  width: 100%;
  padding: 53.5%;
  display: none;
}

#team {
  width: 100%;
  padding: 53.5%;
  display: none;
}

#table {
  width: 100%;
  padding: 53.5%;
  display: none;
}
