#inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#inline li {
  float: left;
}

#inline button {
  height: 150px;
  width: 15px;
  padding: 5px;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 10px;
}

#inline button:active {
  border-color: #0090ff;
}
