.clubHead {
  width: 414px;

  padding-top: 5%;
  margin: 0%;
  background-color: black;

  position: relative;
}

.classtop {
  position: relative;
  top: 0%;
  margin-top: 0px;
}

.image {
  height: 10%;
  width: 70%;
}
.clubTrophies {
  width: 414px;

  position: relative;
  background-color: white;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
  color: gold;
  font-size: 20px;
  position: inline;
}

.clubManager {
  width: 414px;
  text-align: left;

  background-image: linear-gradient(to bottom right, green, red);
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
}
.clubStadium {
  width: 414px;
  text-align: left;
  position: relative;
  background-color: red;
  padding-top: 2%;
  padding-bottom: 2%;
}
.out {
  top: 0;
  position: absolute;
}
