.b-radius {
  border-radius: 10px;
}
.padding-10 {
  padding: 10px;
}

.m-left-right {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: -404.5px;
}

.main-screen {
  position: absolute;
  top: 10px;
}
