#menu {
  list-style-type: none;
  margin: auto;
  padding: 0%;
  overflow: hidden;

  background-color: rgba(14, 28, 73, 0.8);
  bottom: 0;

  cursor: pointer;
  font-weight: bold;
  position: fixed;

  font-size: 15px;
  text-align: center;
  z-index: 1;
}

.item {
  float: left;
  padding: 15px 44.5px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  transition: 0.3s;
}
#nav {
  color: white;
  text-decoration: none;
}
.item:hover {
  border-bottom-color: white;

  border-width: 5px;
}
