input[type="search"] {
  width: 414px;
  height: 50px;
  text-align: left;
  position: fixed;
  top: 0;
  font-size: 20px;
  padding: 20px 10px;
}
div {
  position: relative;
}
img {
  height: 10%;
  width: 10%;
}
label {
  text-align: center;
  padding-bottom: 1000px;
}
.ratio {
  padding: 10px;
}
