input[type="search"] {
  width: 414px;
  height: 50px;
  text-align: left;
  position: fixed;
  top: 0;
  font-size: 20px;
  padding: 20px 10px;
}
div {
  top: 0;
  position: relative;
  top: -3px;
}
img {
  height: 10%;
  width: 10%;
  padding-top: 10px;
}
label {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
  top: -10px;
}
.ratio {
  padding: 10px;
  text-decoration: none;
  color: black;
  overflow: hidden;
  background-color: aliceblue;
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
  line-height: 20px;
}
a {
  text-decoration: none;
}
label#stad {
  margin-left: 0;
}
